@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-dark-grey: #474747;
  --color-dark-grey-light: #6d6d6d;
  --color-blue: #03a9f4;
  --color-blue-light: #98d3df;
  --color-red2: #fb2933;
  --color-red: #c8102e;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
  user-select: none;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}
.img-fluid {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* ----- TYPOGRAPHY ----- */

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  color: white;
  font-weight: 300;
  line-height: 7rem;
  animation: showh1 700ms;
}

@keyframes showh1 {
  from {
    transform: translateY(400px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.h1-span1 {
  color: var(--color-red2);
  font-weight: 800;
  font-size: 4rem;
  /*background-color: white;
  padding: 5px 2px;
  border-radius: 3px;*/
  text-transform: uppercase;
}

.h1-span3 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 600;
}

.h1-span2 {
  color: var(--color-blue);
  font-weight: 800;
  font-size: 4rem;
  /*
  padding: 5px 2px;
  background-color: white;
  border-radius: 3px;*/
}

.text-hero {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: -1px;
}

.text-hero-details {
  color: white;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.text-hero-details-special {
  color: var(--color-blue);
  font-size: 4rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.text-hero-details-special::before {
  display: block;
  content: "";
  width: 13px;
  min-width: 10px;
  height: 13px;
  background-color: var(--color-red);
  margin-right: 10px;
  border-radius: 50%;
}

.text-hero-details::before {
  display: block;
  content: "";
  width: 13px;
  min-width: 10px;
  height: 13px;
  background-color: var(--color-red);
  margin-right: 10px;
  border-radius: 50%;
}

.text-hero span {
  color: var(--color-blue);
  font-size: 2.5rem;
  display: block;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-dark-grey);
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 6px;
  background-color: var(--color-red);
}

h3 span {
  font-size: 3rem;
}

.h3-span3 {
  font-weight: 300;
  font-size: 2.7rem;
  letter-spacing: -1x;
}

.h3-span1 {
  color: var(--color-red);
}

.h3-span2 {
  color: var(--color-blue);
}

p {
  font-size: 17px;
  color: var(--color-dark-grey);
}

.text-values {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.text-values::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  min-width: 15px;
  background-color: var(--color-red);
  margin-right: 10px;
  border-radius: 50%;
}

.h3-why {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.h3-why span {
  color: var(--color-red);
  font-size: 3rem;
}
.h3-why::after {
  display: block;
  content: "";
  width: 50px;
  height: 4px;
  background-color: var(--color-blue);
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}

.text-counter {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  display: block;
}

.text-counter span {
  display: block;
  font-size: 22px;
  font-weight: 400;
}

.text-subtitle {
  font-size: 19px;
  color: var(--color-dark-grey-light);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text-subtitle::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-red2);
}

.text-subtitle-important {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  background-color: var(--color-red2);
  padding: 1rem 2rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: var(--color-dark-grey);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 span {
  color: white;
  background-color: var(--color-blue);
  padding: 2px 5px;
  font-weight: 700;
  font-size: 3rem;
}

/*
h2::after {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--color-blue);
  width: 10%;
  right: 0;
  height: 4px;
  margin-top: 10px;
  transition: 300ms ease-in-out;
}

*/

.text-white {
  color: white;
}

.text-itp-documents {
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.text-itp-documents::before {
  display: block;
  content: "";
  min-width: 10px;
  width: 10px;
  height: 10px;
  background-color: var(--color-red);
  margin-right: 10px;
  border-radius: 50%;
}

/* ----- TYPOGRAPHY END ----- */

/* ----- SECTION GLOBAL ----- */

section {
  padding: 8rem 0rem;
  scroll-margin-top: 70px;
}

/* ----- SECTION GLOBAL END ----- */

/* ----- ABOUT ----- */

/* ----- ABOUT END ----- */

/* ----- HEADER ----- */

header {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0.61), #000000a8), url(../img/HEADER\ SEMPIRON.jpg);
  /*clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 99%, 0 100%);*/
  background-attachment: fixed;
  min-height: 1050px;
}

@keyframes pulse2 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.text-badge-header {
  color: white;
  font-size: 8rem;
  font-weight: 800;
  line-height: 45px;
  z-index: 3;
  text-align: right;
}

.text-badge-header span {
  font-size: 20px;
  font-weight: 400;
  display: block;
}

.icon-badge-header {
  width: 10rem;
  height: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.11);
  padding: 10px;
  z-index: 3;
}

.background-badge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  clip-path: polygon(0 0, 24% 0, 0 32%);
}
.container {
  padding-right: 20px;
  padding-left: 20px;
}

.quick-contact-bar {
  background-color: var(--color-red);
  padding: 10px 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  animation: showQuickBar 900ms;
  background: linear-gradient(to bottom, var(--color-red2), var(--color-red));
}

.quick-contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.3rem;
}

.icon-quick-bar {
  width: 22px;
  min-width: 22px;
  height: 22px;
  padding: 2px 3px;
  background-color: white;
  border-radius: 3px;
}

.icon-social-quickbar {
  width: 25px;
  height: auto;
}

@keyframes showQuickBar {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}

.text-quick-contact-bar {
  font-size: 14px;
  color: white;
  font-weight: 500;
}

.nav-header {
  background-color: rgb(48, 48, 48);
  padding: 2rem 6rem;
  animation: showNavHeader 1000ms;
}

@keyframes showNavHeader {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0px);
  }
}

.nav-fixed {
  background-color: rgb(48, 48, 48);
  display: none;
  position: fixed;
  width: 100%;
  padding: 2rem 6rem;
  top: 0;
  z-index: 2;
  animation: showFixedNav 300ms;
  transition: 300ms ease-out;
  box-shadow: 2px 2px 15px rgba(65, 65, 65, 0.479);
}

@keyframes showFixedNav {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.icon-logo-header {
  width: 20rem;
  height: auto;
}

.nav-header-list-lg {
  list-style-type: none;
  display: none;
  gap: 3rem;
}

.nav-header-link-lg {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  color: white;
  position: relative;
  padding: 5px 10px;
  z-index: 1;
  overflow: hidden;
  display: block;
  text-transform: uppercase;
}

.nav-header-link-lg::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  display: block;
  content: "";
  background-color: var(--color-red);
  z-index: -1;
  transition: all 100ms ease-in;
  border-radius: 1px;
}

.nav-header-link-lg:hover::before {
  top: 0;
}

.btn-nav-header {
  padding: 1.3rem 3rem;
  background-color: var(--color-red);
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;

  color: white;
  border: none;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  transition: all 200ms ease-in;
  text-decoration: none;
  z-index: 1;
  display: none;
}

.btn-nav-header::before {
  position: absolute;
  display: block;
  content: "";
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all 200ms ease-in;
  z-index: -1;
}

.btn-nav-header:hover {
  color: var(--color-dark-grey) !important;
  transition: all 200ms ease-in;
  transform: translateY(-3px);
}

.btn-nav-header:hover::before {
  top: 0;
  transition: all 200ms ease-in;
}

.btn-hero {
  width: fit-content;
  padding: 1.3rem 2.7rem;
  border: none;
  background-color: var(--color-red);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  border-radius: 3px;
  transition: all 100ms ease-in;
  text-transform: uppercase;
}

.btn-hero:hover {
  transform: translateY(-2px);
  transition: all 100ms ease-out;
}

.c-header {
  height: 78%;
}

.icon-menu-nav-header {
  width: 3rem;
  height: auto;
}

.nav-header-list-sm {
  background-color: var(--color-dark-grey);
  width: 90%;
  height: 100vh;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  animation: navHeaderListSmShow 200ms;
  padding-top: 20rem;
}

@keyframes navHeaderListSmShow {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateY(0);
  }
}

.nav-header-link-sm {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: var(--color-red2);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.icon-close {
  position: absolute;
  bottom: 170px;
  right: 40px;
  width: 35px;
  height: auto;
}

/* ----- HEADER END ----- */

/* ----- ABOUT ----- */

.card-about {
  width: 100%;
  padding: 0rem 4rem;
}

/* ----- ABOUT END ----- */

/* ----- WHY US ----- */

.section-whyus {
  padding: 4rem 0;
  background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0.904), rgba(0, 0, 0, 0.863)), url(../img/HEADER\ SEMPIRON.jpg);
  background-attachment: fixed;
}

/* ----- WHY US END ----- */

/* ----- SERVICES ----- */

/*

.card-services {
  background-color: var(--color-red);
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.315);
  transition: 200ms ease-in;
}

*/

.card-services {
  background-color: transparent;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.055);
  border-radius: 10px;

  transition: 200ms ease-out;
}

.card-services:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.089);

  transition: 100ms ease;
}

.card-services:hover .icon-services {
  transform: scale(1.08);

  transition: 150ms ease-in-out;
}

.icon-whyus {
  width: 3rem;
  height: auto;
}

/*

.card-services:hover {
  transform: scale(1.01);
  transition: 100ms ease-out;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.685);
}

.card-services::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: var(--color-blue-light);
  z-index: -1;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.295);
  transition: 100ms ease-out;
}
  

.card-services:hover .icon-services {
  transform: scale(1.2);
}

.card-services:hover .box-icon::before {
  top: 0;
  left: 0;
  transition: 200ms ease-in-out;
}

.card-services:hover h2::after {
  width: 100%;
  transition: 200ms ease-in;
}


.card-services:hover::before {
  top: 0px;
  right: 0px;
  transition: 100ms ease-in;
}



.icon-services {
  background-color: white;
  padding: 5px;
  width: 60px;
  height: auto;
  border-radius: 3px;
  transition: 100ms ease-in-out;
}
*/

.icon-services {
  width: 100px;
  height: auto;
  transition: 100ms ease-in;
}
.box-icon {
  position: relative;
  width: fit-content;
  height: 100%;
  z-index: 1;
}

.box-icon::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 7px;
  background-color: var(--color-blue-light);
  z-index: -1;
  border-radius: 3px;
  transition: 200ms ease-out;
}

/*
.card-services-itp {
  background-color: var(--color-red);
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  height: 100%;
  transition: 200ms ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.329);
}

.card-services-itp:hover {
  transform: scale(1.01);
  transition: 100ms ease-out;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.685);
}

.card-services-itp:hover .icon-services-itp {
  transform: scale(1.2);
}

.card-services-itp:hover .box-icon-itp::before {
  top: 0;
  left: 0;
  transition: 200ms ease-in-out;
}

.card-services-itp:hover h2::after {
  width: 100%;
  transition: 200ms ease-in;
}

.icon-services-itp {
  background-color: var(--color-blue);
  padding: 5px;
  width: 60px;
  height: auto;
  border-radius: 3px;
  transition: 100ms ease-in-out;
}

.box-icon-itp {
  position: relative;
  width: fit-content;
  height: 100%;
  z-index: 1;
}

.box-icon-itp::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 7px;
  background-color: white;
  z-index: -1;
  border-radius: 3px;
  transition: 200ms ease-out;
}

*/

.card-services-itp {
  background-color: transparent;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.055);
  border-radius: 10px;
  width: 100%;
  transition: 150ms ease-out;
}

.card-services-itp:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.089);
  transition: 100ms ease-in;
}

.card-services-itp:hover .icon-services-itp {
  transform: scale(1.1);
  transition: 600ms ease-in-out;
}

.icon-services-itp {
  width: 100px;
  height: auto;
}

.btn-contact {
  width: fit-content;
  padding: 1.3rem 2.7rem;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  border: none;
  font-weight: 700;
  background-color: var(--color-blue);
  border-radius: 3px;
  transition: 200ms ease-out;
  letter-spacing: 0.5px;
}

.btn-contact:hover {
  transform: translateY(2px);
  transition: 100ms ease-in;
}

/*

.btn-contact {
  width: fit-content;
  padding: 1.3rem 2.7rem;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: var(--color-dark-grey);
  border: none;
  font-weight: 700;
  background-color: white;
  border-radius: 3px;
  transition: 200ms ease-out;
}

.btn-contact:hover {
  transform: translateY(2px);
  transition: 100ms ease-in;
}

*/

/* ----- SERVICES END ----- */

/* ----- ITP DOCUMENTS ----- */

.section-itp-documents {
  padding: 4rem 0;
  background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0.904), rgba(0, 0, 0, 0.863)), url(../img/HEADER\ SEMPIRON.jpg);
  background-attachment: fixed;
}

/* ----- ITP DOCUMENTS END ----- */

/* ----- TESTIMONIALS ----- */

.card-testimonial {
  background-color: white;
  /*background: linear-gradient(var(--color-red2), var(--color-red));*/
  padding: 3rem;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.096);
  width: 95%;
  transition: 100ms ease-in-out;
  position: relative;
}

.icon-google {
  position: absolute;
  bottom: 20px;
  right: 25px;
  width: 40px;
  height: 40px;
}

.card-testimonial:hover {
  transform: scale(1.05);
  transition: 100ms ease-in;
}

.card-testimonial:hover .text-testimonial-user {
  color: var(--color-blue);
  transition: 200ms ease-in;
}

.text-testimonial {
  font-style: italic;
  color: var(--color-dark-grey-light);
  font-size: 18px;
}

.text-testimonial-user {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-dark-grey);
  transition: 200ms ease-out;
}

.icon-testimonial {
  width: 20px;
  height: auto;
}

/* ----- TESTIMONIALS END ----- */

/* ----- GALLERY ----- */

.section-gallery {
  background-color: #98d3df2c;
}

/* ----- GALLERY END ----- */

/* ----- CONTACT ----- */

.section-contact {
  background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0.904), rgba(0, 0, 0, 0.863)), url(../img/HEADER\ SEMPIRON.jpg);
  background-attachment: fixed;
  padding-bottom: 0rem;
}

.card-contact {
  display: flex;
  flex-direction: column;
}

.left-box {
  width: 100%;
}

.right-box {
  width: 100%;
  min-height: 300px;
  margin-bottom: 100px;
}

.icon-contact-details {
  width: 5rem;
  height: auto;
  padding: 8px;
  background-color: var(--color-red2);
  border-radius: 3px;
}

.text-title-contact {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.text-details-contact {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

iframe {
  width: 100%;
  min-height: 300px;
}

/* ----- CONTACT END ----- */

/* ----- FOOTER ----- */

footer {
  background-color: rgb(32, 32, 32);
  padding: 5rem 0rem;
}

.icon-footer {
  width: 25rem;
  height: auto;
}

.text-footer-quick-details {
  color: white;
  font-size: 18px;
}

.title-footer {
  font-size: 22px;
  font-weight: 700;
  color: white;
  border-bottom: 4px solid var(--color-red);
  padding-bottom: 5px;
  width: fit-content;
}

.nav-footer-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav-footer-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav-footer-link-social {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

blockquote {
  color: white;
  font-size: 14px;
  text-align: center;
}

/* ----- FOOTER END ----- */

/* ----- LEGAL DOCUMENTS ----- */

.title-legal-document {
  font-size: 3rem;
  font-family: sans-serif;
  color: var(--color-text);
}

.title-legal {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: sans-serif;
  color: var(--color-text);
}

.subtitle-legal {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  color: var(--color-text);
}

.text-legal {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: sans-serif;
  color: var(--color-text);
}

table {
  color: var(--color-text);
  font-family: sans-serif;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 15px;
}

table th {
  border: 1px solid black;
  padding: 3px;
}

table tr {
  font-size: 16px;
  font-weight: 500;
}

table td {
  border: 1px solid black;
  padding: 3px;
}

/* ----- LEGAL DOCUMENTS END ----- */

/* ----- OFFSETS ----- */

.offset-y1pos {
  transform: translateY(20rem);
  opacity: 0;
}

.offset-y2pos {
  transform: translateY(25rem);
  opacity: 0;
}
.offset-y3pos {
  transform: translateY(30rem);
  opacity: 0;
}

.offset-y0 {
  transform: translateY(0px);
  transition: 1000ms;
  opacity: 1;
}

.offset-x1pos {
  transform: translateX(20rem);
  opacity: 0;
}

.offset-x1neg {
  transform: translateX(-20rem);
  opacity: 0;
}

.offset-x0 {
  transform: translateX(0px);
  transition: 900ms;
  opacity: 1;
}

/* ----- OFFSETS END ----- */

/* ----- FORM CSS ----- */

.form-contact {
  width: 100%;
  padding: 4rem;
  margin-bottom: 5rem;
}

.contact-details-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-form-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-label {
  font-size: 16px;
  color: white;
}

.form-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  font-family: "Onest", sans-serif;
  font-size: 12px;
}

.form-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.form-textarea {
  padding: 10px;
  resize: none;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  font-family: "Onest", sans-serif;
  font-size: 12px;
  border-radius: 5px;
}

.form-textarea::placeholder {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

.text-error {
  color: Red;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.text-success {
  display: none;
  font-size: 2.3rem;
  color: var(--color-blue);
  font-weight: 500;
  margin-top: 3rem;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #2e86de;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.btn-submit-form {
  padding: 1.3rem 2.7rem;
  border: none;
  background-color: var(--color-red);
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-radius: 3px;
  transition: 200ms ease-out;
}

.btn-submit-form:hover {
  transform: translateY(-3px);
  transition: 200ms ease;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*----- FORM CSS END ----- */

@media screen and (min-width: 768px) {
  html {
    font-size: 55%;
  }

  h1 {
    line-height: 7rem;
  }

  .h1-span1 {
    font-size: 6rem;
    padding: 5px 10px;
  }

  .h1-span2 {
    font-size: 6rem;
    padding: 5px 10px;
  }

  h3 {
    font-size: 3.5rem;
  }

  h3 span {
    font-size: 3.5rem;
  }

  .h3-span3 {
    font-weight: 300;
    font-size: 3.5rem;
    letter-spacing: -1x;
  }

  .text-subtitle {
    font-size: 23px;
  }

  .text-counter {
    font-size: 6rem;
  }

  .h3-why {
    font-size: 3rem;
  }

  .h3-why span {
    font-size: 4rem;
  }

  .text-hero span {
    color: var(--color-blue);
    font-size: 3.5rem;
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  .quick-contact-bar {
    flex-direction: row;
    gap: 0;
  }

  .quick-contact-details {
    flex-direction: row;
    gap: 4rem;
  }

  .icon-logo-header {
    width: 25rem;
  }

  .card-about {
    width: 75%;
  }

  .card-contact {
    flex-direction: row;
  }

  .left-box {
    width: 60%;
  }

  .right-box {
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .nav-header-list-lg {
    display: flex;
  }

  .icon-menu-nav-header {
    display: none;
  }

  .btn-nav-header {
    display: block;
  }

  .card-services {
    width: 90%;
  }

  html {
    font-size: 62.5%;
  }
}

.subsection-about {
  background-color: var(--color-dark-grey);
  padding: 0;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.37);
}

.title-subsection {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 300;
  text-align: center;
}

.title-subsection span {
  font-weight: 700;
  font-size: 8rem;
  text-transform: uppercase;
  display: block;
  color: var(--color-red);
}

.text-details-subsection {
  color: white;
  width: 85%;
}

.text-details-subsection-light {
  font-size: 2.3rem;
  color: white;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.box-subsection-about {
  background-color: var(--color-red);
  height: 100%;
  width: 100%;
  padding: 5rem 0;
  min-height: 260px;

  transition: 100ms;
}

.box-subsection-about:hover {
  transform: scale(1.02);
}

.container-fluid {
  padding: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.text-welcome {
  font-family: "Open Sans", sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  color: white;
}
